body {
    background-color: white;
    margin: 0px;
    font-family: "Bahnschrift Condensed", "Bahnschrift", sans-serif;
}

#main-header {
    position: fixed;
    width: 100%;
    background-color: black;
    padding: 12px;
    font-size: 20px;
}

.main-header-a {
    padding-right: 10px;
    font-family: "Bahnschrift Condensed", "Bahnschrift", sans-serif;
    color: white;
    text-decoration: none;
}